<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kay.music.mapper.SongMapper">

    <!-- 根据用户收藏的歌曲id列表获取歌曲风格 -->
    <select id="getFavoriteSongStyles" resultType="java.lang.Long">
        SELECT g.style_id
        FROM tb_genre g
        WHERE g.song_id IN
        <foreach item="item" collection="favoriteSongIds" open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>

    <!-- 根据用户收藏的歌曲id列表获取推荐歌曲 -->
    <select id="getRecommendedSongsByStyles" resultType="com.kay.music.pojo.vo.SongVO">
        # DISTINCT：保证最终结果里同一首歌只出现一次
        SELECT DISTINCT
            s.id AS songId, s.name AS songName, s.album,
            s.duration, s.cover_url AS coverUrl, s.audio_url AS audioUrl,
            s.release_time AS releaseTime,
            a.name AS artistName
        FROM tb_song s
        JOIN tb_genre g ON s.id = g.song_id    # tb_genre 是歌曲与风格的关联表（多对多关系）
        JOIN tb_style st ON g.style_id = st.id # 这里虽然 join 了 tb_style，但当前 SQL 并没 SELECT st 的字段，只是用它做结构上的语义清晰
        LEFT JOIN tb_artist a ON s.artist_id = a.id # 歌曲没有艺人信息也照样推荐，只是不展示歌手名
        WHERE g.style_id IN
        <foreach item="item" collection="sortedStyleIds" open="(" separator="," close=")">
            #{item}
        </foreach> # 只要这首歌的某个风格在你的 sortedStyleIds 列表中，就符合条件
        AND s.id NOT IN
        <foreach item="item" collection="favoriteSongIds" open="(" separator="," close=")">
            #{item}
        </foreach> #  排除 favoriteSongIds 是“用户已经收藏/喜欢/点过赞”的歌曲 id 列表
        ORDER BY s.release_time DESC
        LIMIT #{limit}
    </select>
</mapper>